---
import { Image } from 'astro:assets'

import { Quote } from 'astro-pure/advanced'
import { PostPreview } from 'astro-pure/components/pages'
import { getBlogCollection, sortMDByDate } from 'astro-pure/server'
import { Button, Card, Icon, Label } from 'astro-pure/user'
import PageLayout from '@/layouts/BaseLayout.astro'
import ProjectCard from '@/components/home/ProjectCard.astro'
import Section from '@/components/home/Section.astro'
import SkillLayout from '@/components/home/SkillLayout.astro'
import avatar from '@/assets/avatar.png'
import config from '@/site-config'

const languages = ['Python','Java','Haskell','C','Assembly Language']
const frontend = ['TypeScript', 'Tailwind', 'React',]
const backend = ['SQL', 'Milvus', 'Chroma',]
const libraries = ['LangChain', 'Scikit-learn', 'Numpy', 'NLTK', 'LangGraph']
const framework = ['Vercel', 'Waline', 'Hexo', 'Quarto', 'Flask', 'Gradio', 'FastAPI']

const MAX_POSTS = 2
const allPosts = await getBlogCollection()
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS)
---

<PageLayout meta={{ title: 'Home' }} highlightColor='#8aa3b2'>
  <main class='flex w-full flex-col items-center'>
    <section class='animate mb-10 flex flex-col items-center gap-y-7' id='content-header'>
      <Image
        src={avatar}
        alt='profile'
        class='h-28 w-auto rounded-full border p-1'
        loading='eager'
      />

      <div class='flex flex-col items-center gap-y-4'>
        <h1 class='text-3xl font-bold'>{config.author}</h1>
        <div class='flex flex-wrap justify-center gap-x-7 gap-y-3'>
          <Label title='United Kingdom'>
            <Icon name='location' class='size-5' slot='icon' />
          </Label>
          <Label
            title='Github'
            as='a'
            href='https://github.com/the-lord-of-stars'
            target='_blank'
          >
            <Icon name='github' class='size-5' slot='icon' />
          </Label>
          <Label
              title='LinkedIn'
              as='a'
              href='https://www.linkedin.com/in/zefei-xie-023644339/'
              target='_blank'
          >
            <Icon name='link' class='size-5' slot='icon' />
          </Label>
          <Label
              title='Discord'
              as='a'
              href='https://discordapp.com/users/1288076012713807895'
              target='_blank'
          >
            <Icon name='discord' class='size-5' slot='icon' />
          </Label>
          <Label
              title='Email me'
              as='a'
              href='mailto:<1506894634@qq.com>'
              target='_blank'
          >
            <Icon name='email' class='size-5' slot='icon' />
          </Label>
        </div>
      </div>
    </section>

    <div id='content' class='animate flex flex-col gap-y-10 md:w-4/5 lg:w-5/6'>
      <Section title='About'>
        <p class='text-muted-foreground'>CSAI Student</p>
        <p class='text-muted-foreground'>
          I'm a <strong>technology enthusiast</strong> with a passion for <strong>AI, data integration, and software development</strong>. Currently, I'm a student at <a href='https://www.nottingham.ac.uk/' target='_blank' rel='noopener noreferrer' style='text-decoration: underline;'><strong>University of Nottingham</strong></a>, where I explore <strong>AI-driven schema matching and interoperability solutions</strong>.

          My research focuses on investigating ways AI can enhance <strong>data mapping and processing</strong>, with particular interest in <strong>AI agents</strong>. I'm especially interested in applying artificial intelligence to natural language processing, as well as making sense of complex data structures through <strong>data science and engineering</strong>.

        </p>
        <Button title='More about me' class='w-fit self-end' href='/about' variant='ahead' />
      </Section>
      {
        allPostsByDate.length > 0 && (
          <Section title='Posts'>
            <ul class='flex flex-col gap-y-1.5 sm:gap-y-2'>
              {allPostsByDate.map((p) => (
                <li class='flex flex-col gap-x-2 sm:flex-row'>
                  <PostPreview post={p} detailed/>
                </li>
              ))}
            </ul>
            <Button title='More posts' class='w-fit self-end' href='/blog' variant='ahead' />
          </Section>
        )
      }

      {
        /* <Section title='Experience'>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      >
        <ul class='ms-4 list-disc text-muted-foreground'>
          <li>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore debitis recusandae, ut
            molestiae laboriosam pariatur!

            <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae, pariatur!</li>
          </li>
        </ul>
      </Card>
      <Card
        heading='Lorem Ipsum'
        subheading='Sit amet consectetur'
        date='Dec 2022 - Nov 2023'
        imagePath='/src/assets/about-astro.png'
        altText='Lorem, ipsum dolor sit'
        imageClass='h-12 w-auto md:-start-16'
      />
    </Section> */
      }
      <Section title='Education'>
        <Card
          as='a'
          heading='University of Nottingham'
          subheading='BSc Hons Computer Science with Artificial Intelligence'
          date='September 2022 - July 2026'
          href='https://www.nottingham.ac.uk/studywithus/ugstudy/courses/UG/Computer-Science-with-Artificial-Intelligence-BSc-Hons-U6UCMPAI.html'
        >
          {}
        </Card>
      </Section>

      <Section title='Projects'>
        <div class='grid grid-cols-1 gap-3 sm:grid-cols-2'>
          <ProjectCard
            href='https://vis4sense.github.io/agentic-vis-2025/'
            heading='IEEE VIS 2025 GenxAI workshop challenge'
            subheading='An agent to generate visualization report'
            imagePath='/src/assets/projects/alex-tyson-2BAXJ7ha74s-unsplash.jpg'
          />
          <ProjectCard
            href='https://the-lord-of-stars.github.io/Data-Analytics-and-AI-Curriculum-project/'
            heading='Quarto Template'
            subheading='A template designed for UNUK mathmetics department'
            imagePath='/src/assets/projects/angelica-teran-Bk9hpaXHK4o-unsplash.jpg'
          />
          <ProjectCard
            href='https://github.com/the-lord-of-stars/team32-project'
            heading='IBM Watsonx Assistant'
            subheading='AI assistant for new students'
            imagePath='/src/assets/projects/kseniia-zapiatkina-yATU3rg8tNI-unsplash.jpg'
          />
          <ProjectCard
            href='/projects'
            heading='More projects'
            subheading='Check out more projects'
            imagePath='/src/assets/projects/wen-qiao-g_w8I64FiO0-unsplash.jpg'
          />
        </div>
      </Section>


      <Section title='Skills'>
        <SkillLayout title='Languages' skills={languages} />
        <SkillLayout title='Frontend' skills={frontend} />
        <SkillLayout title='Backend' skills={backend} />
        <SkillLayout title='Libraries' skills={libraries} />
        <SkillLayout title='Framework' skills={framework} />
      </Section>
    </div>
  </main>
</PageLayout>
